.form-control {
    max-width: 170px;
    margin-left: 4px;
    display: inline;
}

#currentDateElement {
    font-family: monospace;
    font-weight: bold;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background: red;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(133, 0, 0);
    z-index: 99999999;
}

#circlesContainer {

}